<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebserviceMOMT</display-name>
 
  <servlet>
  	<description>JAX-WS endpoint - ReceiveMTService</description>
  	<display-name>ReceiveMTService</display-name>
  	<servlet-name>ReceiveMTService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReceiveMTService</servlet-name>
  	<url-pattern>/ReceiveMT</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener>
  
   <listener>
    <listener-class>My.Webservice.InitApp</listener-class>
  </listener>  
 
  <context-param>
      <param-name>DBConfigPath</param-name>
      <param-value>/home/tomcat/ForwardMO/Config/ProxoolConfig.xml</param-value>     
  </context-param>
  <context-param>
      <param-name>LogConfigPath</param-name>
      <param-value>/home/tomcat/ForwardMO/Config/log4j.properties</param-value>     
  </context-param>
  
  <context-param>
    <param-name>LogDataFolder</param-name>
    <param-value>/home/tomcat/ForwardMO/Log/</param-value>
  </context-param>
  
  
  <context-param>
    <param-name>MySQLPoolName_Viettel</param-name>
    <param-value>MySQLPoolName_Viettel</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLPoolName_GPC</param-name>
    <param-value>MySQLPoolName_GPC</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLPoolName_VMS</param-name>
    <param-value>MySQLPoolName_VMS</param-value>
  </context-param>
  <context-param>
    <param-name>MySQLPoolName_HTC</param-name>
    <param-value>MySQLPoolName_HTC</param-value>
  </context-param>
  <context-param>
    <param-name>MSSQLPoolName_HBStore</param-name>
    <param-value>MSSQLPoolName_HBStore</param-value>
  </context-param>
  
  
  </web-app>