<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>.:: Nhận Diện NNT CMS ::.</title>
<link href="{DNS}/css/define.css" rel="stylesheet" type="text/css" />
<link href="{DNS}/css/facebox.css" rel="stylesheet" type="text/css" />
<link href="{DNS}/css/admin.css" rel="stylesheet" type="text/css" />
<script src="{DNS}/scripts/jquery-2.1.4.js" type="text/javascript"></script>
<script src="{DNS}/scripts/admin.js" type="text/javascript"></script>
<script src="{DNS}/scripts/facebox.js" type="text/javascript"></script>
<script src="{DNS}/scripts/forall.js" type="text/javascript"></script>
</head>
<body>
<form name="mainForm" method="post" action="{0}"
		id="mainForm">
	<div class="admin">
		<div class="banner">
			<span class="slogan"> Nhận Diện NNT CMS </span>
			<div class="login">
			{1}
			</div>
		</div>