<!--home-->
<div id="home">
	<div id="home_in">
		<div class="huongdan_choi">
			<div class="box_huongdan_choi">
				<div class="noidung_huongdan_choi">
					<div class="noidung_huongdan_choi_in scroll-pane">
						<h1 class="left">LIÊN HỆ</h1>
						<div class="box_lienhe">
							<p>Công ty CP Truyền thông HB</p>
							<p>Địa chỉ: Phòng 601, tầng 6 tòa nhà BB Láng Trung, ngõ 850
								đường Láng</p>
							<p>Số điện thoại: (84-4) 3538 1029</p>
							<p>Hotline: 0961431490</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
