<!--home-->
<div id="home">
	<div id="home_in">
		<div class="huongdan_choi">
			<div class="box_huongdan_choi">
				<div class="noidung_huongdan_choi">
					<div class="noidung_huongdan_choi_in scroll-pane">
						<h1 class="left">HỎI ĐÁP</h1>
						<div class="box_hoidap">
							<div class="images_hoidap">
								<img src="{DNS}/images/images_hoidap.png" alt="" title="" />
							</div>
							<div class="noidung_hoidap">
								<h3 class="tieude_hoidap">
									Câu 1. Dịch vụ “<span class="morelink">Nhận diện người
										nổi tiếng </span>” là dịch vụ gì ?
								</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Dịch vụ Nhận diện người
									nổi tiếng là dịch vụ giải trí, cung cấp các thông tin
									và thành tựu nổi bật nhất về những con người nổi
									tiếng trên thế giới. Khách hàng muốn tham gia và nhận
									được thông tin từ chương trình khách hàng phải đăng ký
									sử dụng dịch vụ bằng cách soạn: DK gửi 5138 và MUA
									gửi 5138 để nhận được các thông tin về những nhân vật
									nổi tiếng và dự đoán tên người nổi tiếng</li> </br>
								<h3 class="tieude_hoidap">Câu 2.Cách thức tham gia chơi
									dịch vụ?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Khách hàng muốn tham gia
									dịch vụ Nhận diện người nổi tiếng, từ điện thoại của
									khách hàng, soạn tin nhắn theo cú pháp DK gửi 5138 (Cước phí
									2.000đ/ngày. Miễn phí cước cho thuê bao lần đầu tiên đăng ký sử
									dụng dịch vụ).Sau khi đăng ký sử dụng dịch vụ thành công,
									khách hàng soạn: MUA gửi 5138 (Cước phí 500đ/sms) để nhận
									được thông tin về người nổi tiếng và dự đoán tên người
									nổi tiếng. Dự đoán đúng trúng liền tay 5 triệu đồng hàng
									tuần từ dịch vụ.</br> </br></li> </br>
								<h3 class="tieude_hoidap">Câu 3. Dịch vụ Nhận diện người
									nổi tiếng hỏi về những ai?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Dịch vụ Nhận diện người nổi
									tiếng hỏi về tất cả những nhân vật nổi tiếng trên mọi lĩnh vực:
									Khoa học - Xã hội; Y học; Phim ảnh; Ca nhạc; Lịch sử; Chính
									trị; Bóng đá;…</br> Ví dụ: Sir Isaac Newton; Tôn Thất Tùng; Tăng
									Thanh Hà; Mỹ Linh; Phan Bội Châu; Hồng Sơn; Washington</br></li> </br>
								<h3 class="tieude_hoidap">Câu 4. Quyền lợi của người chơi
									khi tham gia dịch vụ?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Tham gia dịch vụ Nhận diện
									người nổi tiếng, khách hàng sẽ có cơ hội nhận được
									giải thưởng 5 triệu đồng tiền mặt hàng tuần từ dịch vụ Ngoài
									ra, khi tham gia vào dịch vụ, khách hàng sẽ có cơ hội được
									trau dồi, học hỏi và hiểu biết thêm về những nhân vật nổi
									tiếng và quyền lực nhất thế giới</li> </br>
								<h3 class="tieude_hoidap">Câu 5. Giá cước sử dụng cho từng
									gói dịch vụ là bao nhiêu?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
									<table style="width: 100%" border="1" >
										<tr>
											<td align="center">STT</td>
											<td align="center">Loại cước</td>
											<td align="center">Giá cước (Đã bao gồm VAT)</td>
										</tr>
										<tr>
											<td>Cước thuê bao</td>
											<td>Cước nhắn tin mua dữ kiện thông tin người nổi tiếng</td>
											<td>Cước nhắn tin khác gửi tới đầu số dịch vụ</td>
										</tr>
										<tr>
											<td>2.000đ/ngày</td>
											<td>500đ/tin nhắn</td>
											<td>Miễn phí</td>
										</tr>
									</table></li> </br>
								<h3 class="tieude_hoidap">Câu 6. Không đăng ký dịch vụ Nhận
									diện người nổi tiếng mà tham gia dự đoán người nổi tiếng luôn
									được không?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Khách hàng muốn tham gia
									được dịch vụ Nhận diện người nổi tiếng bắt buộc phải
									đăng ký sử dụng dịch vụ bằng cú pháp: DK gửi 5138.
									Đăng ký dịch vụ thành công, khách hàng mới có quyền tham
									gia dự đoán tên nhân vật nổi tiếng theo cú pháp: DD [ tên
									người nổi tiếng - viết không dấu] gửi 5138</li> </br>
								<h3 class="tieude_hoidap">Câu 7. Làm cách nào để khách hàng
									có được những thông tin dự đoán tên người nổi tiếng?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Để nhận được thông tin dự
									đoán người nổi tiếng, khách hàng soạn tin theo cú
									pháp: MUA gửi 5138 (cước phí: 500đ/sms)</li> </br>
								<h3 class="tieude_hoidap">Câu 8. Mỗi ngày, khách hàng được
									dự đoán tối đa bao nhiêu lần tên người nổi tiếng?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Mỗi ngày khách hàng được dự đoán tối đa 10 lần / ngày.</li> </br>
								<h3 class="tieude_hoidap">Câu 9. Nếu khách hàng đang tham
									gia chương trình mà tài khoản bị hết thì có được quyền dự đoán
									tên người nổi tiếng không?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Nếu khách hàng đã tham gia chương trình mà tài khoản bị hết, khách hàng vẫn có quyền được tham gia dự đoán tên nhân vật nổi tiếng ngày hôm đó.</li> </br>
								<h3 class="tieude_hoidap">Câu 10. Thời gian bắt đầu và kết
									thúc chương trình là khi nào?</h3>
								<li class="chitiet_noidung"><span class="red"><strong>Trả
											lời:&nbsp;&nbsp;&nbsp;&nbsp;</strong></span> Nhận diện người nổi tiếng diễn ra hàng ngày. Phiên chơi bắt đầu lúc 8:00 và kết thúc vào lúc 23:59 cùng ngày</li> </br>
							</div>
						</div>
					</div>
					<div class="bg_bar">
						<img src="{DNS}/images/bg_bar.jpg" alt="" title="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
