<!--footer-->
            <div id="footer">
            	<div id="footer_in">
                	<div class="add_footer">
                    	
                      
                        	<div class="nav_footer">
                                <ul>                               
                                    <li><a class="wrapping-link-inline" href="{DNS}/Page/Home.html">Trang chủ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="{DNS}/Page/Service.html">Thông tin dịch vụ</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline"
													href="{DNS}/Page/Guide.html">Hướng dẫn cách chơi</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline"
													href="{DNS}/Page/Winner.html">Khách hàng trúng thưởng</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline"
													href="{DNS}/Page/Rule.html">Thể lệ giải thưởng</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline" href="http://www.vinaphone.com.vn/products/homepage">Gói cước</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline"
													href="{DNS}/Page/FAQ.html">Hỏi đáp</a></li>
                                    <li>|</li>
                                    <li><a class="wrapping-link-inline"
													href="{DNS}/Page/Contact.html">Liên hệ</a></li>
                                    
                                </ul>
                        	</div>
                            <div class="copyright">
                            	<li>Phát triển bởi HBCommunication.</li>
                                <li></li>
                            </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </td>
  </tr>
</table>

</body>
</html>
