<!--home-->
<div id="home">
	<div id="home_in">
		<div class="huongdan_choi">
			<div class="box_huongdan_choi">
				<div class="noidung_huongdan_choi">
					<div class="noidung_huongdan_choi_in scroll-pane">
						<h1 class="left">HƯỚNG DẪN CÁCH CHƠI</h1>
						<li class="noidung_choi">- Mỗi ngày sẽ có một phiên dự đoán
							tên người nổi tiếng, phiên dự đoán bắt đầu từ 08h00 đến 23h59’
							hàng ngày. Trước khi bắt đầu mỗi phiên dự đoán, khách hàng sẽ
							nhận được bản tin SMS liên quan đến nhân vật ngày hôm hôm đó.
							Bản tin sms hàng ngày trước mỗi phiên chơi như một tiền
							đề gợi ý giúp khách hàng nhận diện được cái tên bí ẩn
							ngày hôm đó <br> - Để mua dữ kiện thông tin, khách hàng
							soạn tin MUA gửi 5138 (500đ/sms) <br> - Tương ứng với mỗi
							thao tác mua dữ kiện thành công, khách hàng sẽ nhận được một
							thông tin về người nổi tiếng qua bản tin SMS. <br> - Trong
							mỗi phiên dự đoán, khách hàng được thực hiện tối đa 10 thao
							tác mua dữ kiện thông tin và tương ứng nhận được 10 nội dung
							thông tin khác nhau về người nổi tiếng. <br> - Thao tác mua
							chỉ có hiệu lực trong thời gian hiệu lực của phiên dự đoán. <br>
							- Để dự đoán tên người nổi tiếng, khách hàng soạn tin DD_[Tên
							Người nổi tiếng] gửi 5138; trong đó: <br> - Dấu “_” trong cú
							pháp tin nhắn tượng trưng cho dấu cách; <br> - Tên người nổi
							tiếng trong cú pháp tin nhắn: viết không dấu, viết liền hoặc viết
							cách, có thể viết thường hoặc viết hoa. <br> - Thao tác dự
							đoán chỉ có hiệu lực trong thời gian hiệu lực của phiên dự đoán <br>
							- Trong mỗi phiên dự đoán, khách hàng được thực hiện tối đa 10
							thao tác dự đoán tên người nổi tiếng. <br> - Trường hợp
							khách hàng dự đoán đúng: <br> - Khách hàng được coi là
							dự đoán đúng khi dự đoán trùng khớp chính xác 100% với tên người
							nổi tiếng của dịch vụ. <br> - Khách hàng sẽ nhận được
							bản tin SMS thông báo kết quả dự đoán chính xác và khách hàng
							sẽ không được tiếp tục tham gia dự đoán trong phiên dự đoán đó
							nữa. <br> - Trường hợp khách hàng dự đoán sai, khách
							hàng sẽ được dự đoán lại nhưng tối đa không quá 10 lầnCách sử
							dụng:

						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
