<!--home-->
<div id="home">
	<div id="home_in">
		<div class="huongdan_choi">
			<div class="box_huongdan_choi">
				<div class="noidung_huongdan_choi">
					<div class="noidung_huongdan_choi_in scroll-pane">
						<h1 class="left">THỂ LỆ GIẢI THƯỞNG</h1>
						<li class="noidung_choi">
							<p>- Khách hàng tham gia dự đoán tên nhân vật sẽ có cơ hội
								nhận giải thưởng 5 triệu đồng hàng tuần tự dịch vụ Nhận diện
								người nổi tiếng. Người chiến thắng sẽ được lựa chọn theo nguyên
								tắc sau:</p>
							<p>- Chỉ những thuê bao trả lời chính xác tên nhân vật ít
								nhất 1 lần trong tuần mới được vào vòng xét duyện</p>
							<p>- Giải thưởng sẽ được lựa chọn trong tập thuê bao có số
								lần dự đoán chính xác nhiều nhất. Thuê bao nào có tổng số điểm
								tích lũy cao nhất trong tập thuê bao có số lần dự đoán chính xác
								nhiều nhất sẽ là thuê bao trúng giải 5 triệu đồng hàng tuần của
								dịch vụ
							<p>- Trường hợp tồn tại cả 2 thuê bao có tổng số lần dự đoán
								chính xác và tổng số điểm tích lũy như nhau sẽ lựa chọn thuê bao
								có tổng thời gian tích lũy điểm đó là sớm nhất</p>

							<p>- Đồng thời, chương trình cũng tìm ra 10 số thuê bao dự
								phòng (là các thuê bao có tổng số lần dự đoán và tổng số điểm
								tích lũy cao tiếp theo, sau các số thuê bao chính thức). Trong
								trường hợp khách hàng trúng thưởng chính thức từ chối nhận
								thưởng hoặc không đủ điều kiện nhận thưởng, giải thưởng sẽ được
								trao cho các thuê bao kế tiếp hoặc các thuê bao trong nhóm dự
								phòng, với tổng số lần dự đoán chính xác và tổng số điểm tích
								lũy theo thứ tự từ cao đến thấp</p>

						</li>
					</div>
					<div class="bg_bar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
