<!--home-->
<div id="home">
	<div id="home_in">
		<div class="huongdan_choi">
			<div class="box_huongdan_choi">
				<div class="noidung_huongdan_choi">
					<div class="noidung_huongdan_choi_in scroll-pane">
						<h1 class="left">THÔNG TIN DỊCH VỤ</h1>
						<li class="noidung_choi">Dịch vụ Nhận diện Người
							nổi tiếng là dịch vụ thông tin về các nhân vật nổi tiếng trong
							nước và quốc tế. Mỗi ngày, dịch vụ sẽ trả cho khách hàng 1 bản
							tin sms về các nhân vật này. Bên cạnh đó, dịch vụ còn có chương
							trình khuyến mại "Nhận diện đúng, trúng quà khủng". Khi tham gia
							vào chương trình khuyến mại "Nhận diện đúng, trúng quà khủng",
							khách hàng sẽ có cơ hội nhận được giải thưởng trị giá 5 triệu
							đồng hàng tuần từ dịch vụ.</br> </br>
							
							Giới thiệu dịch vụ Promotion: Nhận
							diện đúng - trúng quà khủng là dịch vụ tương tác với khách hàng
							qua hình thức dự đoán tên nhân vật. Các thuê bao của dịch vụ Nhận
							diện Người nổi tiếng sẽ được tham gia dự đoán tên một Người nổi
							tiếng mỗi ngày. Khi thuê bao duy trì dịch vụ và dự đoán đúng tên
							Người nổi tiếng, khách hàng sẽ có cơ hội giành giải thưởng từ
							chương trình. Chương trình sẽ tiến hành theo hình thức tích điểm</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
